@model IEnumerable<Application.RestaurantDto.RestaurantDto>

@{
    ViewData["Title"] = "Restaurant";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
        {
            <div class="card m-3" style="width: 18rem;">
                <h5 class="card-body">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                <p class="card-text">@item.HasDelivery</p>
                <a class="btn btn-primary" asp-controller="Restaurant" asp-action="Details" asp-route-encodedName="@item.EncodedName">Details</a>
                <a class="btn btn-outline-secondary" asp-controller="Restaurant" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
            </div>
        } 
</div>